<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<connectionStrings>
		< connectionString="Data Source=146.230.177.46;Initial Catalog=GroupPmb2;Persist Security Info=True;User ID=GroupPmb2;Password=***********">
		<connectionStrings>
	<system.web>
		<authorization>
			<deny users="?"/>
		</authorization>
	</system.web>
</configuration>
