@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="text-center">
    <h1 class="display-4">Welcome Student</h1>
    <p>Kharina Secondary School </p>


</div>
<div>
 <link href="~/css/buttons.css" rel="stylesheet" type="text/css"/>
<link href="~/Login">
    <button class="btn btn-1 btn-sep icon-info">Login</button>
</>
<button class="btn btn-2 btn-sep icon-cart">Reports</button>
<button class="btn btn-3 btn-sep icon-heart">Fees</button>
    <!--button class="btn btn-4 btn-sep icon-send"></linkbutton-->

</div>
